.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
}

@media (min-width: 768px) {
  .wrapper {
    gap: 16px;
    margin-top: 16px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    flex-direction: row;
    height: 651px;
    justify-content: start;
  }
}

.readingDashboard {
  gap: 40px;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .readingDashboard {
    display: flex;
    padding-bottom: 84px;
  }
}

@media (min-width: 1440px) {
  .readingDashboard {
    height: 100%;
    max-height: 651px;
  }
}
