.wrapperDescr {
  display: flex;
  flex-direction: column;
  gap: 17px;
  border-radius: 12px;
  width: 100%;
  max-width: 295px;
  max-height: 272px;
  background: #262626;
  padding: 20px;
}

@media (min-width: 768px) {
  .wrapperDescr {
    width: 100%;
    max-width: 313px;
    gap: 20px;
    padding: 26px 20px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    padding: 20px;
  }
}

.top {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

@media (min-width: 768px) {
  .top {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.title {
  font-weight: 700;
  font-size: 18px;

  /* line-height: 18px; */
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #e3e3e3;
  margin: 0;
  text-align: start;
}

@media (min-width: 768px) {
  .title {
    font-size: 20px;

    /* line-height: 20px; */
    line-height: 1;
  }
}

.books {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  max-width: 255px;
}

@media (min-width: 768px) {
  .books {
    max-width: 253px;
  }
}

.bookCard {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.image {
  border-radius: 8px;
  width: 71px;
  height: 107px;
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: start;
  max-width: 71px;
}

.titleOfBook {
  font-weight: 700;
  font-size: 10px;

  /* line-height: 12px; */
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #e3e3e3;
  text-align: start;

  margin: 0;

  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author {
  font-weight: 500;
  font-size: 10px;

  /* line-height: 12px; */
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #686868;

  text-align: start;

  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.linkBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  font-weight: 500;
  font-size: 14px;

  /* line-height: 18px; */
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #686868;
}
