.wrapper {
  padding: 200px 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 214px 40px;
  }
}

.title {
  font-weight: 700;
  font-size: 32px;

  /* line-height: 32px; */
  line-height: 1;
  letter-spacing: 0.02em;
  color: #f9f9f9;

  margin: 0;
}

@media (min-width: 768px) {
  .title {
    font-size: 64px;

    /* line-height: 60px; */
    line-height: 0.9375;
  }
}

.text {
  font-weight: 500;
  font-size: 14px;

  /* line-height: 18px; */
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #f9f9f9;
}

@media (min-width: 768px) {
  .text {
    font-size: 32px;
    display: flex;
    align-self: center;
    justify-self: center;
    max-width: 400px;
  }
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.loginButton,
.registerButton {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 14px;

  /* line-height: 18px; */
  line-height: 1.28571;
  letter-spacing: 0.02em;
  color: #1f1f1f;

  border-radius: 30px;
  padding: 12px 29px;
  width: 100%;
  max-width: 190px;
  height: 42px;

  background-color: #f9f9f9;
  text-decoration: none;
}

@media (min-width: 768px) {
  .loginButton,
  .registerButton {
    font-size: 20px;

    /* line-height: 20px; */
    line-height: 1;

    max-width: 245px;
    height: 52px;
  }
}
