.wrapper {
  padding: 200px 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  font-weight: 700;
  font-size: 32px;

  /* line-height: 32px; */
  line-height: 1;
  letter-spacing: 0.02em;
  color: #f9f9f9;

  margin: 0;
}

.text {
  font-weight: 500;
  font-size: 14px;

  /* line-height: 18px; */
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #f9f9f9;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.loginButton,
.registerButton {
  font-weight: 700;
  font-size: 14px;

  /* line-height: 18px; */
  line-height: 1.28571;
  letter-spacing: 0.02em;
  color: #1f1f1f;

  border-radius: 30px;
  padding: 12px 29px;
  width: 100%;
  max-width: 190px;
  height: 42px;

  background-color: #f9f9f9;
  text-decoration: none;
}
