.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .wrapper {
    gap: 16px;
    margin-top: 16px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    height: 100%;
    min-height: 651px;
    flex-direction: row;
  }
}

@media (min-width: 1440px) {
  .dashboard {
    padding-top: 33px;
    gap: 78px;
  }
}
