.form {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.field {
  display: flex;
  align-items: center;

  padding: 14px;
  width: 295px;
  height: 44px;

  background-color: #262626;
  border-radius: 12px;
}

.label {
  margin-right: 10px;
  font-weight: 500;
  font-size: 12px;

  /* line-height: 16px; */
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: #686868;
}

.input {
  flex: 1;

  border: none;
  outline: none;

  background: transparent;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 14px;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 30px;
  padding: 12px 29px;
  width: 140px;
  height: 42px;
  background-color: #f9f9f9;

  font-weight: 700;
  font-size: 14px;

  /* line-height: 18px; */
  line-height: 1.28571;
  letter-spacing: 0.02em;
  color: #1f1f1f;

  cursor: pointer;
}

.link {
  font-weight: 500;
  font-size: 12px;

  /* line-height: 14px; */
  line-height: 1.16667;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #686868;
}

.link:hover:active {
  color: #f9f9f9;
}
