.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 137px;
  height: 100%;
  max-height: 248px;
}

.image {
  border-radius: 8px;
  width: 100%;
  max-width: 137px;
  height: auto;
  max-height: 208px;
}

.secondLine {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 0;
}

.text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2px;
  min-width: 0;
  flex: 1;
  max-width: 89px;
}

.title {
  font-weight: 700;
  font-size: 14px;

  /* line-height: 18px; */
  line-height: 1.28571;
  letter-spacing: -0.02em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #f9f9f9;

  width: 100%;
}

.author {
  font-weight: 500;
  font-size: 10px;

  /* line-height: 12px; */
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #686868;
}

.deleteButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  max-width: 28px;
  height: 100%;
  max-height: 28px;
  border-radius: 100%;
  background-color: rgba(232, 80, 80, 0.1);
  border: 1px solid rgba(232, 80, 80, 0.2);
}
