.userBar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  font-weight: 700;
  font-size: 16px;

  line-height: 18px;
  /* line-height: 1.125; */
  letter-spacing: -0.02em;
  text-align: center;
  color: #f9f9f9;

  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 50%;
  flex-shrink: 0;
}

.user {
  margin: 0;
  font-weight: 700;
  font-size: 16px;

  line-height: 18px;
  /* line-height: 1.125; */
  letter-spacing: -0.02em;
  text-align: center;
  color: #f9f9f9;

  white-space: nowrap;
}
