.userBar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;

  font-weight: 700;
  font-size: 16px;

  line-height: 18px;
  /* line-height: 1.125; */
  letter-spacing: -0.02em;
  text-align: center;
  color: #f9f9f9;

  border-radius: 50%;
}

.user {
  font-weight: 700;
  font-size: 16px;

  line-height: 18px;
  /* line-height: 1.125; */
  letter-spacing: -0.02em;
  text-align: center;
  color: #f9f9f9;
}
