.wrapper {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

@media (min-width: 768px) {
  .wrapper {
    gap: 16px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    gap: 20px;
  }
}

.firstLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: 700;
  font-size: 18px;

  /* line-height: 18px; */
  line-height: 1;
  letter-spacing: -0.02em;
  color: #f9f9f9;

  margin: 0;
}

@media (min-width: 768px) {
  .title {
    font-size: 20px;

    /* line-height: 20px; */
    line-height: 1;
  }
}

.buttons {
  display: flex;
  gap: 8px;
}

@media (min-width: 768px) {
  .buttons {
    margin-right: 16px;
  }
}

@media (min-width: 1440px) {
  .buttons {
    margin-right: 0px;
  }
}

.buttonSVG {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;

  cursor: pointer;
}

.content {
  width: 100%;
  max-width: 295px;
  height: 100%;
  max-height: 211px;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  background-color: #262626;
  padding: 20px 90px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .content {
    max-width: 321px;
    max-height: 252px;
    padding: 28px 91px;
    gap: 16px;
  }
}

@media (min-width: 1440px) {
  .content {
    max-width: 313px;
    max-height: 281px;
    padding: 20px 62px;
    gap: 10px;
  }
}

.description {
  display: none;
}

@media (min-width: 1440px) {
  .description {
    display: flex;
    font-weight: 500;
    font-size: 14px;

    /* line-height: 18px; */
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: #686868;

    text-align: start;

    width: 100%;
    max-width: 293px;
  }
}

.progressCircle {
  width: 116px;
  height: 116px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media (min-width: 768px) {
  .progressCircle {
    width: 138px;
    height: 138px;
  }
}

@media (min-width: 1440px) {
  .progressCircle {
    width: 189px;
    height: 189px;
  }
}

.progressSvg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  transform: rotate(-90deg);
}

.progressBackground {
  fill: none;
  stroke: #1f1f1f;
  stroke-width: 12.2px;
}

.progressValue {
  fill: none;
  stroke: #30b94d;
  stroke-width: 12.2px;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.3s ease;
}

.percents {
  position: relative;
  z-index: 1;

  margin: 0;

  font-weight: 700;
  font-size: 18px;

  /* line-height: 20px; */
  line-height: 1.11111;
  letter-spacing: -0.02em;
  color: #f9f9f9;
}

@media (min-width: 768px) {
  .percents {
    font-size: 20px;

    /* line-height: 20px; */
    line-height: 1;
  }
}

.wrapperSecondLine {
  width: 100%;
  max-width: 95px;
  height: 34px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-left: 11px;
}

@media (min-width: 768px) {
  .wrapperSecondLine {
    max-width: 108px;
    height: 42px;
    margin-left: 15px;
  }
}

.point {
  border-radius: 4px;
  width: 14px;
  height: 14px;

  background-color: #30b94d;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: start;
  align-items: start;
}

@media (min-width: 768px) {
  .textWrapper {
    gap: 8px;
  }
}

.percent {
  font-weight: 500;
  font-size: 14px;

  /* line-height: 18px; */
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #f9f9f9;
}

@media (min-width: 768px) {
  .percent {
    font-size: 20px;

    /* line-height: 20px; */
    line-height: 1;
  }
}

.readBook {
  font-weight: 500;
  font-size: 10px;

  /* line-height: 12px; */
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: #686868;
}

@media (min-width: 768px) {
  .readBook {
    font-size: 12px;

    /* line-height: 14px; */
    line-height: 1.16667;
  }
}
