.wrapper {
  display: flex;
  flex-direction: column;
}

.firstLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: 700;
  font-size: 18px;

  /* line-height: 18px; */
  line-height: 1;
  letter-spacing: -0.02em;
  color: #f9f9f9;

  margin: 0;
}

.buttons {
  display: flex;
  gap: 8px;
}

.buttonSVG {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;

  cursor: pointer;
}

.content {
  width: 100%;
  max-width: 295px;
  height: 100%;
  max-height: 211px;
  border-radius: 12px;
  background-color: #262626;
}
