.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 768px) {
  .wrapper {
    gap: 0;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    flex-direction: row;
    gap: 16px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  max-width: 335px;
  height: 411px;
  padding: 20px 20px 40px 20px;
  background-color: #1f1f1f;
}

@media (min-width: 768px) {
  .content {
    max-width: 704px;
    height: 960px;
    padding: 40px;
    padding-left: 64px;
  }
}

@media (min-width: 1280px) {
  .content {
    max-width: 600px;
    height: 736px;
  }
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .logo {
    margin-bottom: 157px;
  }
}

@media (min-width: 1280px) {
  .logo {
    margin-bottom: 107px;
  }
}

@media (max-width: 767px) {
  .textLogo {
    display: none;
  }
}

.textLogo {
  font-weight: 700;
  font-size: 18px;

  /* line-height: 18px; */
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #f9f9f9;
}

.titleForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

@media (min-width: 768px) {
  .titleForm {
    display: flex;
    gap: 40px;
  }
}

.title {
  font-weight: 700;
  font-size: 32px;

  /* line-height: 32px; */
  line-height: 1;
  letter-spacing: 0.02em;
  color: #f9f9f9;
  margin: 0;

  text-align: start;

  width: 295px;
}

@media (min-width: 768px) {
  .title {
    font-size: 64px;
    /* line-height: 60px; */
    line-height: 0.9375;
    width: 444px;
  }
}

.span {
  color: rgba(227, 227, 227, 0.5);
}

.imageBlock {
  border-radius: 30px;
  max-width: 335px;
  max-height: 351px;
  background-color: #1f1f1f;
  padding: 20px 40px 0px 40px;
}

@media (min-width: 768px) {
  .imageBlock {
    display: none;
  }
}

@media (min-width: 1280px) {
  .imageBlock {
    display: flex;
    max-width: 600px;
    max-height: 736px;
    padding: 80px 97px 0px;
  }
}

.mobile {
  margin: 0;
  display: block;
}

@media (min-width: 1280px) {
  .mobile {
    width: 405px;
    height: 656px;
  }
}
