.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 10px auto;
}

@media (min-width: 768px) {
  .wrapper {
    margin: 16px auto;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    flex-direction: row;
  }
}
