.bookCard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 0;
}

@media (max-width: 767px) {
  .bookCard {
    width: 137px;
    flex-shrink: 0;
  }
}

@media (min-width: 768px) {
  .bookCard {
    flex-basis: calc((100% - 3 * 25px) / 4);
  }
}

@media (min-width: 1440px) {
  .bookCard {
    flex-basis: calc((100% - 4 * 20px) / 5);
  }
}

.image {
  border-radius: 8px;
  width: 100%;
  max-width: 137px;
  max-height: 208px;
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: start;
  width: 100%;
  min-width: 0;
}

.title {
  width: 100%;
  display: block;

  font-weight: 700;
  font-size: 14px;

  text-align: start;

  /* line-height: 18px; */
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #f9f9f9;

  margin: 0;
}

@media (min-width: 1440px) {
  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.author {
  font-weight: 500;
  font-size: 10px;

  /* line-height: 12px; */
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #686868;
}
