.wrapper {
  display: flex;
  flex-direction: column;

  border-radius: 30px;
  width: 100%;
  max-width: 335px;
  height: auto;
  max-height: 407px;
  padding: 40px 20px 100px;
  gap: 63px;

  background-color: #1f1f1f;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 704px;
    padding: 40px 40px 160px;
    gap: 86px;
    max-height: 518px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    max-width: 847px;
    padding: 40px 40px 232px;
    gap: 147px;
    max-height: 651px;
  }
}

.titleAndFilters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.title {
  font-weight: 700;
  font-size: 20px;

  /* line-height: 20px; */
  line-height: 1;
  letter-spacing: -0.02em;
  color: #f9f9f9;
}

@media (min-width: 768px) {
  .title {
    font-size: 28px;

    /* line-height: 32px; */
    line-height: 1.14286;
    letter-spacing: 0.02em;
  }
}

.pictureAndText {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  max-width: 197px;
  max-height: 164px;
  margin: 0 auto;
  gap: 10px;
}

@media (min-width: 768px) {
  .pictureAndText {
    max-width: 274px;
    max-height: 186px;
    gap: 20px;
  }
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #262626;
}

@media (min-width: 768px) {
  .circle {
    width: 130px;
    height: 130px;
  }
}

.image {
  width: 50;
  height: 50;
}

@media (min-width: 768px) {
  .image {
    width: 70;
    height: 70;
  }
}

.text {
  font-weight: 500;
  font-size: 14px;

  /* line-height: 18px; */
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: #f9f9f9;
}

.marker {
  font-weight: 500;
  font-size: 14px;

  /* line-height: 18px; */
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: #686868;
}
