.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  border-radius: 30px;
  /* max-width: 353px; */
  /* max-height: 651px; */
  padding: 20px;

  background: #1f1f1f;
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    gap: 32px;
    padding: 32px;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    padding-top: 40px;
    max-width: 353px;
  }
}

.wrapperDescr {
  border-radius: 12px;
  width: 313px;
  height: 272px;
  background: #262626;
}

.title {
  font-weight: 700;
  font-size: 20px;

  /* line-height: 20px; */
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #f9f9f9;
}

.text {
  font-weight: 500;
  font-size: 14px;

  /* line-height: 18px; */
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #f9f9f9;
}

.marker {
  color: #686868;
}

.linkBlock {
}

.link {
  font-weight: 500;
  font-size: 14px;

  /* line-height: 18px; */
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #686868;
}

.textQuotes {
  font-weight: 500;
  font-size: 14px;

  /* line-height: 18px; */
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #686868;
}

.markerQuotes {
  color: #f9f9f9;
}

.wrapperQuotes {
  display: none;
}

@media (min-width: 768px) {
  .wrapperQuotes {
    border-radius: 12px;
    width: 313px;
    height: 83px;

    background: #262626;
  }
}
