.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  border-radius: 30px;
  width: 100%;
  max-width: 335px;
  height: auto;
  padding: 20px;

  background: #1f1f1f;
}

@media (min-width: 768px) {
  .wrapper {
    width: 100%;
    max-width: 704px;
    flex-direction: row;
    gap: 32px;
    padding: 32px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    padding-top: 40px;
    width: 100%;
    max-width: 353px;
    height: auto;
  }
}
